.error-text {
  color: red;
  font-size: small;
  height: 1rem;
}

/* Carousel */
ul {
  list-style-type: none;
}

.carousel {
  position: relative;
  height: 600px;
  width: 600px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.carousel__image {
  width: 600px;
  height: 600px;
  object-fit: cover;
}

.carousel__track-container {
  background: whitesmoke;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.carousel__track {
  padding: 0;
  margin: 0;
  position: relative;
  list-style: none;
  height: 100%;
  transition: transform 0.5s ease-in;
}

.carousel__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
}

.carousel__button {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  background: transparent;
  border: 0;
  cursor: pointer;
}

.carousel__leftbutton {
  left: -40px;
}

.carousel__rightbutton {
  right: -40px;
}

.carousel__button img {
  width: 12px;
}

.carousel__nav {
  /* background: pink; */
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.carousel__indicator {
  border: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background: rgb(0, 0, 0, 0.3);
  margin: 0 12px;
  cursor: pointer;
}

.carousel__indicator.current-slide {
  background: rgb(0, 0, 0, 0.75);
}

.is-hidden {
  display: none;
}
