html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.error-text {
  color: red;
  font-size: small;
  height: 1rem;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn {
  min-width: 10rem;
  margin: 0.5rem;
  max-width: calc(100% - 1rem);
}

.form-container {
  max-width: 25rem;
  margin: 1rem auto;
}

.form-container .alert {
  padding: 0.375rem 0.75rem;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  /* -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); */
}
